<!-- Fenêtre modale pour la création -->
<div id="createModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeCreateModal">&times;</span>
        <h2>Create new patient</h2>
        <form id="create-patient-form">
            <!-- Les champs de création ici -->

            <label for="create-nom">Nom:</label>
            <input type="text" id="create-nom" name="create-nom" required>

            <label for="create-prenom">Prénom:</label>
            <input type="text" id="create-prenom" name="create-prenom" required>

            <label for="create-dateNaissance">Date de Naissance:</label>
            <input type="date" id="create-dateNaissance" name="create-dateNaissance" required>

            <label for="create-sexe">Sexe (H ou F):</label>
            <input type="text" id="create-sexe" name="create-sexe" pattern="[HF]" title="Veuillez entrer 'H' ou 'F'" required>

            <label for="create-adresse">Adresse:</label>
            <input type="text" id="create-adresse" name="create-adresse" required>

            <label for="create-telephone">Téléphone:</label>
            <input type="number" id="create-telephone" name="create-telephone" required>

            <div id="createButtonGroup">
                <button type="submit">Create</button>
                <button type="button" id="cancelCreateButton">Cancel</button>
            </div>
        </form>
    </div>
</div>
