
<!-- Navigation content -->
<div class="navigation">
  <ul>
    <li>
      <a href="#">
                        <span class="icon">
                            <ion-icon name="medkit-outline"></ion-icon>
                        </span>
        <span class="title">Dental clinic</span>
      </a>
    </li>

    <li>
      <a href="/home">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
        <span class="title">Dashboard</span>
      </a>
    </li>

    <li>
      <a href="/patients">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
        <span class="title">Patients</span>
      </a>
    </li>

    <li>
          <a href="/rendezvous">
                        <span class="icon">
                            <ion-icon name="calendar-outline"></ion-icon>
                        </span>
              <span class="title">Calendar</span>
          </a>
    </li>

    <li>
      <a href="#">
                        <span class="icon">
                            <ion-icon name="bar-chart-outline"></ion-icon>
                        </span>
        <span class="title">Statistiques</span>
      </a>
    </li>

    <li>
      <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
        <span class="title">Settings</span>
      </a>
    </li>

    <li>
      <a href="#">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
        <span class="title">Password</span>
      </a>
    </li>

    <li>
      <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
        <span class="title">Sign Out</span>
      </a>
    </li>
  </ul>
</div>