<!-- Recap content -->
<div class="cardBox">
  <div class="card">
    <div>
      <div class="numbers">1,504</div>
      <div class="cardName">Daily Views</div>
    </div>

    <div class="iconBx">
      <ion-icon name="eye-outline"></ion-icon>
    </div>
  </div>

  <a href="/rendezvous" class="card">
    <div>
      <div class="numbers" th:text="${nombreRendezVous}"></div>
      <div class="cardName">Today's Appointments</div>
    </div>

    <div class="iconBx">
      <ion-icon name="calendar-outline"></ion-icon>
    </div>
  </a>

  <div class="card">
    <div>
      <div class="numbers" th:text="${nombrePatients}"></div>
      <div class="cardName">Total Patient</div>
    </div>

    <div class="iconBx">
      <ion-icon name="people-outline"></ion-icon>
    </div>
  </div>

  <div class="card">
    <div>
      <div class="numbers">$7,842</div>
      <div class="cardName">Daily Earning</div>
    </div>

    <div class="iconBx">
      <ion-icon name="cash-outline"></ion-icon>
    </div>
  </div>
</div>
