<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dental Clinic</title>
  <!-- ======= Styles ====== -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/UpdatePatient.css">
  <link rel="stylesheet" href="/css/deletePatient.css">
</head>

<body>
<!-- =============== Navigation ================ -->
<div class="container">
    <div th:include="fragments/navigation.html"></div>

  <!-- ========================= Main ==================== -->
  <div class="main">
      <div th:include="fragments/topbar.html"></div>

      <!-- ======================= Recaps ================== -->

    <div th:include="fragments/recaps.html"></div>

    <!-- =============== Update Patient ================ -->
    <div th:include="fragments/updatePatient"></div>

    <!-- =============== delete Patient ================ -->
    <div th:include="fragments/deletePatient"></div>

    <!-- ================ Order Details List ================= -->
    <div class="details">
      <div class="recentOrders">
        <div class="cardHeader">
          <h2>Recent Patients</h2>
          <a href="/patients" class="btn">View All</a>
        </div>

        <table>
          <thead>
          <tr>
            <td>Name</td>
            <td>date naissance</td>
            <td>sexe</td>
            <td>adresse</td>
            <td>Actions</td>
          </tr>
          </thead>

          <tbody>
          <tr th:each="patient, iterStat : ${patients}" th:unless="${iterStat.index > 7}">
            <td th:text="${patient.nom}"></td>
            <td th:text="${#dates.format(patient.dateNaissance, 'dd-MM-yyyy')}"></td>
            <td th:text="${patient.sexe}"></td>
            <td th:text="${patient.adresse}"></td>
            <td>
              <input type="hidden" name="patientId" th:value="${patient.code}">
              <button class="btn view">View</button>
              <button class="btn edit">Edit</button>
              <button class="btn delete">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- =========== Scripts =========  -->
<script src="/js/main.js"></script>
<script src="/js/patient/updatePatient.js"></script>
<script src="/js/patient/deletePatient.js"></script>


<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>